---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const projects = await getCollection("projects");
const researchProjects = await getCollection("research-projects");

const last_posts = posts.slice(0, 3);
const featured_projects = projects.filter(project => project.data.featured);
const featured_research = researchProjects.filter(project => project.data.featured);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Usamah</div>
    <div class="text-3xl py-3 font-bold">Machine Learning Engineer</div>
    <div class="py-2">
      <text class="text-lg">
        Passionate about developing and deploying AI solutions across various domains. Specialized in deep learning, computer vision, and edge computing.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://linkedin.com/in/usamahzaheer" target="_blank">Let's connect!</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Featured Projects {"</>"}</div>
  </div>

  {
    featured_projects.map((project) => (
      <>
        <HorizontalCard
          title={project.data.title}
          img={project.data.img}
          desc={project.data.description}
          url={project.data.url}
          badge={project.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }

  {
    featured_research.map((project) => (
      <>
        <HorizontalCard
          title={project.data.title}
          img={project.data.img}
          desc={project.data.description}
          url={project.data.url}
          badge={project.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
